* {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: capitalize;
  box-sizing: border-box;
  letter-spacing: 3px;
  font-weight: 400;
}

html {
  box-sizing: border-box;
}
body {
  position: relative;
  /* background-image: url("imgs/wallpaperflare.com_wallpaper\ \(5\).jpg"); */
  background-color: rgb(7, 7, 7);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-weight: 700;
  text-align: center;
  font-size: 50px;
  color:whitesmoke ;
  opacity: 0.5;
  padding: 12px;
}
input {
  display: inline-block;
  height: 47px;
  width: 47%;
  margin: 20px 10px;
  background: rgba(11, 11, 11, 0.25);
  box-shadow: 0 8px 32px 0 rgba(26, 26, 32, 0.37);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 5px;
  /* border: 1px solid rgba(41, 38, 38, 0.18); */
  font-size: 21px;
  font-weight: 600;
  border: 1px solid #4db890;
  color: aliceblue;
  padding: 20px;
  padding-left: 5px;
  outline: none;
  transition: 0.2s all;
}

.d-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input:hover {
  background-color: black;
  border: none;
  outline: none;
}
main{
  background: rgba(29, 27, 27, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  /* border-radius: 10px; */
  border: 1px solid rgba(9, 113, 249, 0.18);
  /* border: 1px solid #ddd; */
  padding: 30px;
}
.btn1,
.create {
  display: inline-block;
  height: 45px;
  border-radius: 5px;
  font-size: 20px;
  width: 47%;
  background-color: #4db890;
  color: whitesmoke;
  border: none;
  outline: none;
}

.btn1 {
  border: 2px solid #04AA6D;
  background: transparent;
  cursor: pointer;
  /* margin-right: 5px; */
}

.create {
  background-color: #04AA6D;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s all;
  width: 47%;
}

.create:hover {
  background-color: #4db890;

}

.ser {
  height: 45px;
  width: 47%;
  text-align: center;
}

.table-sec {
  padding: 20px;
  margin: 30px;
  position: absolute;
  top: 150px;
  right: 10px;
  background: rgba(29, 27, 27, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  border: 1px solid rgba(9, 113, 249, 0.18);
}

#books {
  border-collapse: collapse;
  margin: 50px;
  padding-bottom: 100px;
  margin-left: 50px;
  box-shadow: 0 4px 10px 0 rgba(2, 1, 1, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 1.22);
  background: rgba(11, 11, 11, 0.25);
  box-shadow: 0 8px 32px 0 rgba(26, 26, 32, 0.37);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;
  color: #f2f2f2;
  width: 400px;
}

.fa-trash {
  color: rgb(164, 164, 194);
  margin-right: 20px;
  font-size: 18px;


}

.fa-pen-to-square {
  color: antiquewhite;
  font-size: 18px;

}

#books td,
#books th {
  cursor: pointer;
  font-size: 18px;
  background: rgba(29, 27, 27, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  /* border-radius: 10px; */
  border: 1px solid rgba(9, 113, 249, 0.18);
  /* border: 1px solid #ddd; */
  text-align: center;
  padding: 10px;
  font-family: sans-serif;

}
.data-input{
  height: 700px;
  margin: 30px;
  padding: 50px;
  position: absolute;
  top: 150px;
  left: 10px;
  background: rgba(29, 27, 27, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  /* border-radius: 10px; */
  border: 1px solid rgba(9, 113, 249, 0.18);
  /* border: 1px solid #ddd; */
}
.search,
.search__By__Title {
  width: 160px;
  margin-bottom: -100px;
  height: 60px;
}
#books th {
padding: 10px;
  text-align: center;
  background-color: #04f89f;
  color: white;
}
#del{
  display: inline-block;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
  margin-top: 20px;
  /* background-color: #06f89f; */
  background: transparent;
  color: whitesmoke;
  border: 1px solid #04AA6D;
  cursor: pointer;
  font-weight: 700;
  font-size: 25px;
  transition: 0.5s all;
}
#del:hover{
  background-color: #04AA6D;
}

